header nav {
  display: flex;
  align-items: flex-end;
  @include md {
    position: fixed;
    top: 3rem;
    right: 10%;
    z-index: 9;
  }
  button {
    display: none;
    background: none;
    border: 0.2rem solid rgba(98, 101, 102, 0.15);
    background-color: $palette300;
    border-radius: 0.5rem;
    height: 5rem;
    width: 5rem;
    color: $palette500;
    font-size: 3.2rem;
    justify-content: center;
    align-items: center;
    @include md {
      display: flex;
    }
  }
  &.open {
    button {
      color: $palette200;
    }
    ul {
      @include md {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        top: 5.5rem;
        right: 0;
      }
    }
  }

  ul {
    display: inline-flex;
    font-size: 2.2rem;
    background-color: $palette300;
    margin-left: auto;
    border-radius: 2.5rem 2.5rem 0 0;
    overflow: hidden;
    margin-bottom: 1.1rem;
    transform-origin: top right;
    @include md {
      display: none;
      border-radius: 2.5rem 0 0 2.5rem;
      border: 0.2rem solid rgba(98, 101, 102, 0.15);
    }
    a {
      transition: color 0.15s ease-out;
      color: $palette390;
      padding: 1rem 3.5rem;
      display: inline-block;
      &:hover {
        color: $palette500;
      }
      @include md {
        padding: 1.5rem;
      }
    }
    .active {
      color: $palette550;
    }
    li {
      position: relative;
      &:not(:last-of-type)::after {
        content: "";
        position: absolute;
        top: 15%;
        bottom: 15%;
        width: 0.2rem;
        opacity: 0.15;
        background-color: $palette390;
        @include md {
          top: unset;
          bottom: 0;
          width: unset;
          left: 15%;
          right: 15%;
          height: 0.2rem;
        }
      }
    }
  }
}
