$border-radius: 1rem;

.about .introduction {
  padding: 1.75rem 1.5rem;
  display: flex;
  gap: 2rem;
  background: $palette1000;
  border: 0.1rem solid $palette100;
  border-radius: $border-radius;
  color: $palette390;
  @include sm {
    flex-direction: column;
    align-items: center;
  }
  .img-container {
    width: 11rem;
    border-radius: $border-radius;
    overflow: hidden;
    background: white;
    padding: 0.3rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.2rem 1.5rem rgba(123, 222, 242, 0.502);
    img {
      border-radius: $border-radius;
    }
  }
  p {
    line-height: 1.5;
  }
  .intro-contact {
    color: black;
    margin-top: 2rem;
  }
}
