.btn {
  border-radius: 0.5rem;
  &.rounded {
    border-radius: 3rem;
  }
  font-size: 1.4rem;
  padding: 1rem 2rem;
  cursor: pointer;
  &.primary {
    color: white;
    background-color: $palette360;
    border: 0.1rem solid $palette360;
    box-shadow: 0 0.4rem 0.75rem rgba(255, 177, 99, 0.5);
    &:focus {
      background-color: $palette350;
      border-color: $palette350;
      box-shadow: 0 0.4rem 0.75rem rgba(255, 204, 153, 0.5);
    }
  }
  &.secondary {
    background-color: transparent;
    color: $palette390;
    border: 0.1rem solid $palette390;
  }
}
